.body{
    font-family: 'Jost', sans-serif;
    
    margin: 0;
    width: none;
}

.header{
    background-color: #ff7f99;
    height: 100px;
    font-family: 'Jost', sans-serif;
    display: flex;
    align-items: center; 
    justify-content: space-around;
    font-size: 20px;
}

h1{
    color: white; 
    padding-left: 10px; 
    margin-left: 10px;
}

span{ 
    color: #ffca41;
    }

    ul{
        display: flex;
        color: white;
        list-style: none;
        flex-direction: row;
        justify-content: end;
        padding-right: 30px;
    }
    li{
        padding: 10px 40px;
    }

    li:hover{
        background-color: rgba(255, 202, 65, 0.3);
        border: 1px solid #ffca41;
        border-radius: 30px; 
    }

.circle{
    width: 400px;
    height: 400px;
    background-color: #ff7f99;
    border-radius: 50%;
}

.square{
    display:flex;
    position:absolute;
    width: 200px;
    height: 200px;
    background-color: #ff7f99; 
    left: 308px;
}
.circle2{
    position: relative;
    top: 10px;
    left: -390px; 
    width: 380px;
    height: 380px;
    background-image: url(./images/elvia.jpeg);
    background-size: cover;
    border-radius: 50%;
}

.picture{
    display: flex;
    justify-items: center;
}

.box{
    display: flex;
    padding: 120px 100px;
}
aside{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap
}

h2{
    color: #ff7f99;
    font-family: 'jost', sans-serif;
    font-weight: 900px;
    font-weight: bold;
    font-size:  50px;
    margin-bottom: 0px;
    order: -30px;
}

aside{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

p{
    font-family: 'Jost', sans-serif;
}

.logo1{ 
  text-align: start;
}


.te-llamamos{
    padding:  10px 40px;
    border-radius: 35px;
    color: white;
    font-family: 'jost', sans-serif;
    background-color: #ffca41;
    align-self: flex-start; 
    font-weight: 100;
}

.footer {
    position: relative;
    background-color: #FF7F99;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
    column-gap: 40px;
    justify-content: space-between;
    
   
    }

 .pictureelvia {
    display: flex;
    position: absolute;
    border-radius: 50%;
    width: 215px;
    height: 215px;
    top: 40px;
    background-image: url(./images/elvia.jpeg);
    background-size: cover;
    margin-left:10px;
    }

 .picturemagda {
    display: flex;
    position: absolute;
    border-radius: 50%;
    width: 215px;
    height: 215px;
    top: 40px;
    background-image: url(./images/magda.jpeg);
    background-size: cover;
    }

.pictureshima {
    display: flex;
    position: absolute;
    border-radius: 50%;
    width: 215px;
    height: 215px;
    top: 40px;
    background-image: url(./images/shima.jpeg);
    background-size: cover;
    }


 .picturezindy {
    display: flex;
    position: absolute;
    border-radius: 50%;
    width: 215px;
    height: 215px;
    top: 40px; 
    background-image: url(./images/zindy.jpeg);
    background-size: cover;
    }
 
.picturebianca {
    display: flex;
    position: absolute;
    border-radius: 50%;
    width: 215px;
    height: 215px;
    top: 40px;
    background-image: url(./images/bianca.jpeg);
    background-size: cover;
    margin-right: 10px; 
    
    }

    .name {
        color: white;
        display: flex;
        justify-content: center;
        margin-top: 200px;
        
      }

    .position { 
        color:black;
        display: flex;
        justify-content: center;
        font-size: 14px;
        
    }

    .logo { 
        color:black;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        font-size: 30px;
        margin-top: 0px;
        
    }

    


    