/* Formulario */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

.infoForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerForm{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.containerForm h2{
    margin-bottom: 15px;
    font-size: 100px;
}
h2{
    background-color: #ff7f99;
    color: white;
    padding: 10px 40px;
    font-weight: 500;
    border-radius: 20px;
}


.containerForm p{
    font-size: 30px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.containerForm a{
    font-size: 35px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 100;
}

.containerForm a i{
    color: #ffca41;
    margin-right: 10px;
}

.containerForm form .box, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 30px;
    border: 3px solid #ff7f99;
    margin-bottom: 20px;
    border-radius: 30px;
    outline: 0px;
} 

.containerForm form textarea{
    max-width: 530px;
    min-width: 530px;
    max-height: 230px;
    min-height: 230px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.containerForm .button{
    padding: 5px 10px;
    font-size: 40px;
    border: none;
    outline: 0px;
    background-color: #ffca41;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}

.containerForm .button:hover{
    background-color: #ff7f99;
}
.button{
    font-weight: 500;
}