body{
    font-family: 'Jost', serif;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #ff7f99;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: space-between;
    
}

h1{
    
    color: white;
    padding-left: 30px;
    font-weight: 600;
   
}

span {
    color: #ffca41;
    
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: white;
    padding-right: 30px;
}

li{
    padding: 10px 40px;
}

li:hover{
    background-color: rgba(255, 202, 65, 0.3);
    border: 1px solid #ffca41;
    border-radius: 30px;

}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
    gap: 100px;
}


.boxItem1{
    position: relative;
    width: 600px;
    height: 600px;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ff7f99;
    border-radius: 50%;
    z-index: 1;
}

.square{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 50%;
    background-color: #ff7f99;
    z-index: -1;
}

.circle2{
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-image: url(./images/Two-women-jumping-for-joy.png);
    background-size: cover;
}

h2{
    color:#D06077;
    font-size: 80px;
    margin-bottom: 0;
    line-height: 0.8;
    margin-top: 120px;
    font-weight: 400;
}

.boxItem2{
    display: flex;
    flex-direction: column;
}

.te-llamamos{
    padding: 10px 40px;
    background-color: #ffca41;
    border-radius: 35px;
    color: white;
    align-self: flex-start;
}

.footer {
    position: relative;
    background-color: #FF7F99;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
    column-gap: 40px;
    justify-content: space-between;
    
   
    }

 .pictureelvia {
    position: absolute;
    border-radius: 50%;
    width: 215px;
    height: 215px;
    top: 40px;
    background-image: url(./images/elvia.jpeg);
    background-size: cover;
    margin-left:10px;
    }

 .picturemagda {
    position: absolute;
    border-radius: 50%;
    width: 215px;
    height: 215px;
    top: 40px;
    background-image: url(./images/magda.jpeg);
    background-size: cover;
    }

.pictureshima {
    position: absolute;
    border-radius: 50%;
    width: 215px;
    height: 215px;
    top: 40px;
    background-image: url(./images/shima.jpeg);
    background-size: cover;
    }


 .picturezindy {
    position: absolute;
    border-radius: 50%;
    width: 215px;
    height: 215px;
    top: 40px; 
    background-image: url(./images/zindy.jpeg);
    background-size: cover;
    }
 
.picturebianca {
    position: absolute;
    border-radius: 50%;
    width: 215px;
    height: 215px;
    top: 40px;
    background-image: url(./images/bianca.jpeg);
    background-size: cover;
    margin-right: 10px; 
    
    }

    .name {
        color: white;
        display: flex;
        justify-content: center;
        margin-top: 200px;
        
      }

    .position { 
        color:black;
        display: flex;
        justify-content: center;
        font-size: 14px;
        
    }

    .logo { 
        color:black;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        font-size: 30px;
        margin-top: 0px;
        
    }

    


    